div.editPost
  h3 New post
  input(ng-model='form.title', name='title', placeholder="Title")
  br
  br
  textarea(ng-model='form.text', cols='50', rows='15', placeholder="Body")
  br
  button(ng-click='submitPost()') Create
